<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Login</title>
    
    <style>
    div {
  border-radius: 5px;
  background-color:peru;
  padding: 20px;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}
button{

padding:3px;
margin:3px;
}
    </style>
</head>
<body bgcolor="gray">
<h2>Doctor Login</h2>
<form th:action="@{/doctor/doctorlogin}" method="POST" th:object="${doctor}">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" th:field ="*{email}" placeholder="Enter email" >
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" th:field ="*{password}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>