<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor Appointments</title>
    
    <style>
    div {
  border-radius: 5px;
  background-color: orange;
  padding: 20px;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}
button{

padding:3px;
margin:3px;
}
    </style>
</head>
<body bgcolor="#3cbd99">
<h2>Doctor Appointment </h2>
<center>
  <a th:href="@{/doctor/myprofile/{id}(id=${doctor.id})}">Profile</a>
  <a th:href="@{/doctor/myappointments/{id}(id=${doctor.id})}">My appointments</a>
  <a th:href="@{/}">Logout</a>
  <table>
    <thead>
    <tr>
      <td>Name</td>
      <td>Date</td>
      <td>Department</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appoint: ${list}">
      <td th:text="${appoint.patientName}"></td>
      <td th:text="${appoint.date}"></td>
      <td th:text="${appoint.specialist}"></td>
      <td th:text="${appoint.status}"></td>
      <td><a th:href="@{/accept/{id}(id=${appoint.aid})}">Accept</a>||<a href="">Reject</a></td>
    </tr>
    </tbody>
  </table>
</center>
</body>
</html>