<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    
    
    <style >
    
   body {
  
  


 
background: linear-gradient(to right, #c4d7e6 50%, #66a5ad 50%, #66a5ad 50%);
}  
 ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color:darkgoldenrod;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
}  
    </style>
</head>
<body align="center" id ="grave">
<h1>RestApi Demo</h1>

<ul>
 <li><a href="/patientLogin">PatientLogin </a></li>
 <li><a href="/doctorLogin">Doctor Login </a> </li>
 <li><a href="/patientRegister">Patient Registration </a></li>
 <li><a href="/doctorRegister">Doctor Registration </a></li>
 <li><a href="">Support  </a>
 </li>
</body>
</html>