<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Profile </title>
    
    
    <style>
    div {
  border-radius: 5px;
  background-color:mint;
  padding: 20px;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}
button{

padding:3px;
margin:3px;
}
    </style>
</head>
<body bgcolor="pale-yellow">
<h2>patient profile</h2>
<center>
<a th:href="@{/patient/myprofile/{id}(id=${patient.id})}">Profile</a>
<a th:href="@{/patient/{id}/appointment(id=${patient.id})}">Book Appointment</a>
<a th:href="@{/}">Logout</a>
  <table>
    <tr>
      <td>FirstName</td>
      <td>LastName</td>
      <td>Email</td>
      <td>Address</td>
      <td>Update</td>
    </tr>
    <tr>
      <td th:text="${patient.firstName}"></td>
      <td th:text="${patient.lastName}"></td>
      <td th:text="${patient.email}"></td>
      <td th:text="${patient.address}"></td>
      <td><a href="">Update</a></td>
    </tr>
  </table>
</center>
</body>
</html>